{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html>
<body>
<h2>checkbox Buttons</h2>
<pre>
<form>
<input type="checkbox" name="gender" value="male">Male<input type="checkbox" name="gender" value="female">Female<input type="checkbox"name="gender" value="male"> Male
<input type="checkbox" name="gender" value="other"> Other<input type="checkbox" name="gender" value="male"> Male<input type="checkbox" name="gender" value="male"> Male  
<input type="checkbox" name="gender" value="male"> Male<input type="checkbox" name="gender" value="female"> Female<input type="checkbox"
name="gender" value="male"> Male
</form> 
</pre>
</body>
</html>